@use "colors";
@use "typography";

.btn {
    padding-inline: 24px;
    padding-block: 16px;
    background-color: colors.$red;
    color: white;
    border-radius: 9999px;
    border: none;
    @include typography.preset-3;

    &:hover {
        background-image: 
            linear-gradient(to left, hsla(0, 0%, 0%, 25%), hsla(0, 0%, 0%, 25%)),
            linear-gradient(to left, colors.$red, colors.$red);
    }
}

.add-to-cart-btn {
    color: black;
    background-color: white;
    border: 1px solid colors.$rose-400;
    padding-block: 12.5px;
    padding-inline: 28px;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        background-image: url("/assets/images/icon-add-to-cart.svg");
        background-size: contain;
        display: inline-block;
        margin-right: 8px;
    }

    &:hover {
        cursor: pointer;
        color: colors.$red;
        border-color: colors.$red;
    }
}


.active-add-to-cart-btn-group {
    display: flex;
    max-width: fit-content;
    background-color: colors.$red;
    padding: 12px;
    gap: 45.5px;
    border-radius: 999px;
    color: white;

    button {
        background: none;
        border: 2px solid white;
        border-radius: 999px;
        color: transparent;
        user-select: none;
        width: 20px;
        height: 20px;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center;

        &.minus-btn {
            background-image: url("/assets/images/icon-decrement-quantity.svg");
        }

        &.plus-btn {
            background-image: url("/assets/images/icon-increment-quantity.svg");
        }
    }
}

.carbon-neutral{
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: colors.$rose-50;
    border-radius: 8px;
    padding: 16px;

    &::before{
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        background-size: cover;
        background-image: url("/assets/images/icon-carbon-neutral.svg");
    }
}