@use "colors";

.add-to-cart-btn{
    color: black;
    background-color: white;
    border: 1px solid colors.$rose-400;
    padding-block: 12.5px;
    padding-inline: 28px;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before{
        content: ' ';
        width: 20px;
        height: 20px;
        background-image: url("/assets/images/icon-add-to-cart.svg");
        background-size: contain;
        display: inline-block;
        margin-right: 8px;
    }

    &:hover{
        cursor: pointer;
        color: colors.$red;
        border-color: colors.$red;
    }
}


.active-add-to-cart-btn-group{
    display: flex;
    max-width: fit-content;
    background-color: colors.$red;
    padding: 12px;
    gap: 45.5px;
    border-radius: 999px;
    color: white;
    
    button{
        background: none;
        border: 2px solid white;
        border-radius: 999px;
        color: transparent;
        user-select: none;
        width: 20px;
        height: 20px;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center;

        &.minus-btn{
            background-image: url("/assets/images/icon-decrement-quantity.svg");
        }

        &.plus-btn{
            background-image: url("/assets/images/icon-increment-quantity.svg");
        }
    }
}