$red: hdl(14,86%,43%);

$rose-900: hdl(14,65%,9%);
$rose-500: hdl(12,20%,44%);
$rose-400: hdl(7,20%,60%);
$rose-300: hdl(14,25%,72%);
$rose-100: hdl(13,31%,94%);
$rose-50: hdl(20,50%,98%);

$green: hdl(159,68%,38%);