#product-list{
    padding: 24px;
    h1{
        padding-bottom: 32px;
    }
}

.product-card{
    padding-bottom: 24px;
    picture {
        border-radius: 8px;
        overflow: hidden;
    }
    .add-to-cart-btn-wrapper{
        height: 38px;
        position: relative;
        display: flex;
        justify-content: center;
        transform: translate(0,-50%);
    }
}