@use "colors";
@use "breakpoints";

hr{
    height: 1px;
    border: 0 none;
    background-color: colors.$rose-100;
    color: colors.$rose-100;
}

#product-list {
    padding: 24px;

    h1 {
        padding-bottom: 32px;
    }

    .product-list-container{
        display: grid;
        @include breakpoints.on-tablet{
            grid-gap: 32px 24px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.product-card {
    picture {
        border-radius: 8px;
        overflow: hidden;
    }

    .add-to-cart-btn-wrapper {
        height: 38px;
        position: relative;
        display: flex;
        justify-content: center;

        .add-to-cart-btn, .active-add-to-cart-btn-group{
            position: absolute;
            transform: translate(0, -50%);
        }
    }
}

#cart {
    .cart-container {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: white;

        .cart-list {
            .cart-item {
                display: grid;
                gap: 8px;
                grid-template:
                    "name   action" auto
                    "detail action" auto
                    "sep sep"/1fr auto;

                .cart-item-name {
                    grid-area: name;
                }

                .cart-item-detail {
                    grid-area: detail;
                    display: flex;
                    gap: 8px;
                }

                .cart-item-action {
                    grid-area: action;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    button.cart-item-rm-btn{
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        background-image: url("/assets/images/icon-remove-item.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 12.5px 12.5px;
                        border: 1px solid colors.$rose-300;
                        border-radius: 9999px;
                        font-size: 0;
                    }
                }

                hr{
                    grid-area: sep;
                    margin-block:16px;
                }

                &:last-child hr{
                    display: none;
                    margin-block: none;
                }
            }
        }

        .order-total{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}